
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,600;1,400&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    background-size:auto;
   
}

header{
    position: relative;
    top: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(231, 231, 209);
}

header .logo{
    position:relative;
    color:rgba(33, 58, 27, 0.616);
    font-size:30px;
    text-decoration: none;
    font-weight: 800;
    letter-spacing: 1px;
}
 
header .navegacao a{
    color: #000;
    text-decoration:none;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 2px;
    border-radius:20px;
}

.navegacao{
    color: #fff;
    background: #639e47;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 10px 20px;
    border-radius: 30px;
}
.navegacao a:not(:last-child){
    margin-right: 30px;
}
.navegacao a:hover{
    background: rgb(231, 231, 209);

}

.conteudo{
    max-width: none;
    margin: none;
    background-color: #000;
}
 #fotoRedonda{
    height: 450px;
    width: 450px;
    border-radius: 50%;
    
 }
 
.conteudo .info h2{
    color: rgb(208, 231, 203);
    font-size: 80px;
    font-weight: 600;
    letter-spacing: 3px;
    line-height: 80px;
    margin-bottom: 90px;
    margin-top: 90px;
    margin-right: 200px;
    margin-left: 100px;
    }

.conteudo .info h2 span{
    color:#fff;
    font: size 3px;
    font-weight: 200;
}

.conteudo .info p{
    font-size: 20px;
    font-weight:600;
    margin-bottom: 40px;
    margin-left: 100px;
    margin-right: 200px;
    color:#fff;
}
.botao{
   background-color: #4CAF50;
          border: none;
          color: #fff;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
font-size: 16px;

        }

 
.conteudo .extra{
    color:#fff;
    background:rgb(44, 141, 60);
    text-decoration:none;
    text-transform:uppercase;
    font-weight:600;
    letter-spacing: 2px;
    padding: 10px 20px;
    border-radius: 5px;
    
}
.icones{
    display:flex;
    justify-content: center;
    align-items: center;
    margin:auto;
}

.icones a{
    position:relative;
    color: #000;
    font-size: 40px;
    transition: 0.3s;
    transition-property: transform;
}

.icones a:not(:last-child){
    margin-right: 60px;

}

.icones a:hover{
    transform:scale(1.5);
}
.footer{
    background-color: #639e47;
    height: 15vh;
    display: flex;
    align-items: center;
}

/* primeiro texto*/
 
.textos{
    margin-right:100px;
    margin-left:100px;
    margin-top: 30px;
    font-size: larger;
    align-items: center;
   

}

.textos p{
    margin:0

}

#fotoGrafico{
    border-radius: 14%;
    ;
    
}

