
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,600;1,400&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    background-size:auto;
   
}

header{
    position: relative;
    top: 0;
    width: 100%;
    padding: 50px 200px;
    display: flex;
    justify-content: space-between;
    align-items: left;
    background-color: rgb(231, 231, 209);
}
 
.navegacao{
    color: #fff;
    background: #639e47;
    text-decoration: inherit;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 10px 20px;
    border-radius: 30px;
    

}
.navegacao a:not(:last-child){
    margin-right: 30px;
}
.navegacao a:hover{
    background: rgb(231, 231, 209);

}

.conteudo{
    max-width: 1400px;
    margin: 60px 150px;
    background-color: #000;
}
 #fotoRedonda{
    height: 600px;
    width: 600px;
    border-radius: 50%;
 }
 
.conteudo .info h1{
    color: #fff;
    font-size: px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 30px;
    margin-bottom: 90px;
}
.content .info h1 span{
    color:#fff;
    font: size 2px;
    font-weight: 600;
}

.content .info p{
    font-size: 20px;
    font-weight: 500;
    margin-bottom:40px;
}
.content .extra{
    color:#fff;
    background:rgb(44, 141, 60);
    text-decoration:none;
    text-transform:uppercase;
    font-weight:600;
    letter-spacing: 2px;
    padding: 10px 20px;
    border-radius: 5px;
    
}

.content #info-extra:hover{
    background:rgba(33, 58, 27, 0.616)
}
.icones{
    display:flex;
    justify-content: center;
    align-items: center;
    margin:auto;
}

.icones a{
    position:relative;
    color: #000;
    font-size: 40px;
    transition: 0.3s;
    transition-property: transform;
}

.icones a:not(:last-child){
    margin-right: 60px;

}

.icones a:hover{
    transform:scale(1.5);
}
.footer{
    background-color: #639e47;
    height: 15vh;
    display: flex;
    align-items: center;
}

